textarea[readonly="readonly"] {
    background-color:#E0E0E0;
}

legend {
   font-weight: bold;
  text-decoration: none;
}

label {
   width: 10em;
   float: left;
   text-align: right;
   margin-right: 0.5em;
   display: block;
}

.submit input {
   margin-left: 4.5em;
}
