<style type="text/css" src="scripts/style.css">
        html { 
           height:       100%;
        }
        body {
           height:       100%; 
           width:        100%;
           margin:       0px;
           padding:      0px;
           overflow:     hidden;
           font:         12px/1.7 Verdana,'Lucida Grande', Arial, 
                         "Trebuchet MS", Helvetica, sans-serif;
        }
        #panel_top {
           background:   #333333;
           height:       60px;
           color:        #ffffff;
           position:     relative;
           top:          0;
           margin:       0;
           z-index:      2;
           box-shadow:   0px 3px 5px #888888;
        }
        #logo {
           position:     absolute;
           border:       0px solid red;
           top:          0px;
           left:         0px;
           height:       58px;
           width:        250px;
           margin:       0;
           padding:      0;
           line-height:  20px;
           vertical-align:middle;
           text-align:   center;
           font-size:    18px;
           text-shadow:  gray 2px 2px 1px;
        }
        #top_nav {
           position:     absolute;
           height:       60px;
           width:        calc(100% - 400px);
           line-height:  58px;
           top:          4px;
           left:         253px;
           vertical-align:middle;
           text-align:   left;
           border:       0px solid red;
        }
        #stats_nav {
           position:     absolute;
           height:       40px;
           width:        130px;
           top:          12px;
           right:        0px;
           line-height:  20px;
           vertical-align:middle;
           text-align:   left;
           border:       0px solid blue;
        }
        #busy_indicator{
           width:        32px; 
           position:     absolute; 
           top:          16px;
           right:        90px;
           border:       0px red solid;
           z-index:      2;
           visibility:   visible;
        }
        #container {
           overflow:     hidden;
           position:     absolute;
           padding:      0px;
           border:       0px solid gray;
           width:        100%;
           height:       calc(100% - 60px);
           margin:       0 0 0 0;
        }
        #panel_left {
           float:        left;
           position:     relative;
           border:       0px solid red;
           margin:       0;
           padding:      2px;
           width:        250px;
           min-width:    250px;
           height:       calc(100%-15px);
           top:          0;
           left:         0;
           z-index:      1;
           box-shadow:   4px 0px 5px #888888;
        }
        #map_canvas { 
           border:       0px solid transparent; 
           position:     relative;
           height:       calc(100% - 0px);
           width:        calc(100% - 250px - 4px - 0px); /*10px*/
           top:          0px; /*5px;*/
           left:         0;
           overflow:     hidden;
           background-color: rgb(229, 227, 223); 
           }
        #showpanel {
           position:     absolute;
           top:          0px;
           left:         0px;
           height:       calc(100%);
           width:        14px;
           padding:      0px;
           border:       0px solid white;
           background:   #333333;
           color:        white;
           font-weight:  bold;
           visibility:   hidden;
           z-index:      3;
           box-shadow:   4px 0px 5px #888888;
        }
        #content {
           font-size:    10px;
           min-width:    350px;
           padding:      0;
        }
        #content-left {
           float:        left;
           display: inline-block;
        }
        #content-right {
           float:        right;
           width:        160px;
        }
        #shipdetails {
           float:        left;
           position:     relative;
           border:       1px solid gray;
           margin:       0px;
           padding:      2px;
           width:        244px;
           height:       250px;
           bottom:       0px;
           left:         0;
           z-index:      3;
           font-size:    10px;
        }
        #status-msg {
           position:     absolute;
           top:          68px;
           left:         calc(100%/3);
           width:        500px;
           height:       20px;
           line-height:  20px;
           vertical-align:middle;
           display:      block;
           padding:      0 100 0 100;
           border:       0px solid transparent;
           background:   yellow;
           opacity:      1;
           text-align:   center;
           font-size:    14px;
           color:        #000000;
           font-weight:  bold;
           box-shadow:   4px 4px 5px #888888;
        }
        #latlong {
           position:     absolute;
           bottom:       20px;
           right:        5px;
           line-height:  12px;
           vertical-align:middle;
           display:      block;
           padding:      2px;
           border:       0px solid transparent;
           background:   transparent;
           opacity:      1;
           text-align:   left;
           font-size:    10px;
           color:        white;
           text-shadow:  black 2px 2px 3px;
        }
        #firstHeading {
           font-size:    14px;
        }
        a:link {
           text-decoration: none;
        }
        input, textarea, select{font-family:inherit;}
</style>
