  html { 
     height:       100%;
  }
  body {
     height:       100%; 
     width:        100%;
     margin:       0px;
     padding:      0px;
     overflow:     hidden;
     font:         12px/1.7 Verdana,'Lucida Grande', Arial, "Trebuchet MS", Helvetica, sans-serif;
  }
  table {
     margin:       0;
     padding:      0;
     border:       0px solid black;
     width:        100%;
  }
  .width10 {
     width:        10%;
  }
  .width20 {
     width:        20%;
  }
  #panel_top {
     background:   #333333;
     height:       60px;
     color:        #ffffff;
     position:     relative;
     top:          0;
     margin:       0;
     z-index:      2;
     box-shadow:   0px 3px 5px #888888;
  }
  #logo {
     position:     absolute;
     border:       0px solid red;
     top:          0px;
     left:         0px;
     height:       58px;
     width:        250px;
     margin:       0;
     padding:      0;
     line-height:  20px;
     vertical-align:middle;
     text-align:   center;
     font-size:    18px;
     text-shadow:  gray 2px 2px 1px;
  }
  #top_nav {
     position:     absolute;
     height:       60px;
     width:        -webkit-calc(100% - (400px));
     width:        calc(100% - (400px));
     line-height:  58px;
     top:          4px;
     left:         253px;
     vertical-align:middle;
     text-align:   left;
     border:       0px solid red;
  }
  #stats_nav {
     position:     absolute;
     height:       40px;
     width:        130px;
     top:          12px;
     right:        0px;
     line-height:  20px;
     vertical-align:middle;
     text-align:   left;
     border:       0px solid blue;
  }
  #busy_indicator{
     width:        32px; 
     position:     absolute; 
     top:          16px;
     right:        90px;
     border:       0px red solid;
     z-index:      2;
     visibility:   visible;
  }
  #container {
     overflow:     hidden;
     position:     absolute;
     padding:      0px;
     border:       0px solid gray;
     width:        100%;
     height:       -webkit-calc(100% - (60px));
     height:       calc(100% - (60px));
     margin:       0 0 0 0;
  }
  #raw_ais_table {
     position:     relative;
     border:       0px solid red;
     margin:       0px;
     padding:      0px 0px;
     width:        100%;
     height:       300px;
     top:          0px;
     left:         0px;
     overflow-y:   scroll;
     line-height:  10px;
     vertical-align:middle;
     background-color: rgb(255, 255, 255);
  }
  #laisic_ais_track_table {
     position:     relative;
     border:       0px solid red;
     margin:       0px;
     padding:      0px 0px;
     width:        100%;
     height:       300px;
     top:          0px;
     left:         0px;
     overflow-y:   scroll;
     line-height:  10px;
     vertical-align:middle;
     background-color: rgb(255, 255, 255);
  }
  #laisic_radar_table {
     position:     relative;
     border:       0px solid red;
     margin:       0px;
     padding:      0px 0px;
     width:        100%;
     height:       300px;
     top:          0px;
     left:         0px;
     overflow-y:   scroll;
     line-height:  10px;
     vertical-align:middle;
     background-color: rgb(255, 255, 255);
  }
  #laisic_ais_obs_table {
     position:     relative;
     border:       0px solid red;
     margin:       0px;
     padding:      0px 0px;
     width:        100%;
     height:       300px;
     top:          0px;
     left:         0px;
     overflow-y:   scroll;
     line-height:  10px;
     vertical-align:middle;
     background-color: rgb(255, 255, 255);
  }
  .datatable {
     position:     relative;
     border:       0px solid red;
     margin:       0px;
     padding:      0px 0px;
     width:        90px;
     height:       300px;
     top:          0px;
     left:         0px;
     overflow-y:   scroll;
     line-height:  10px;
     vertical-align:middle;
     background-color: rgb(255, 255, 255);
  }
  a {
     text-decoration: none;
     color:        #0000FF;
  }
  input, textarea, select {
     font-family:  inherit;
  }
  input[type="text"]  {
     height:       22px;
  }
