<plugin name='icode-ais' version='0.1' grailsVersion='1.3.7 &gt; *'>
  <author>Your name</author>
  <title>Plugin summary/headline</title>
  <description>\
Brief description of the plugin.
</description>
  <documentation>http://grails.org/plugin/icode-ais</documentation>
  <type>IcodeAisGrailsPlugin</type>
  <resources>
    <resource>gov.spawar.icode.AisController</resource>
    <resource>gov.spawar.icode.AisIngestController</resource>
    <resource>gov.spawar.icode.CallSignPrefixController</resource>
    <resource>gov.spawar.icode.CountryController</resource>
    <resource>gov.spawar.icode.LocationController</resource>
    <resource>gov.spawar.icode.MaritimeIdDigitController</resource>
    <resource>gov.spawar.icode.RadarAirTrackController</resource>
    <resource>gov.spawar.icode.RadarSurfTrackController</resource>
    <resource>gov.spawar.icode.UserController</resource>
    <resource>gov.spawar.icode.VmsController</resource>
    <resource>gov.spawar.icode.Ais</resource>
    <resource>gov.spawar.icode.AisLocation</resource>
    <resource>gov.spawar.icode.CallSignPrefix</resource>
    <resource>gov.spawar.icode.Change</resource>
    <resource>gov.spawar.icode.Country</resource>
    <resource>gov.spawar.icode.Epfd</resource>
    <resource>gov.spawar.icode.FlagStatus</resource>
    <resource>gov.spawar.icode.ListType</resource>
    <resource>gov.spawar.icode.Location</resource>
    <resource>gov.spawar.icode.MaritimeIdDigit</resource>
    <resource>gov.spawar.icode.MessageType</resource>
    <resource>gov.spawar.icode.NavigationStatus</resource>
    <resource>gov.spawar.icode.Port</resource>
    <resource>gov.spawar.icode.RadarAirTrack</resource>
    <resource>gov.spawar.icode.RadarSurfTrack</resource>
    <resource>gov.spawar.icode.Risk</resource>
    <resource>gov.spawar.icode.User</resource>
    <resource>gov.spawar.icode.VesselType</resource>
    <resource>gov.spawar.icode.Vms</resource>
    <resource>gov.spawar.icode.AisMapService</resource>
    <resource>gov.spawar.icode.AisService</resource>
    <resource>gov.spawar.icode.TimeLocationService</resource>
  </resources>
  <repositories>
    <repository name='grailsCentral' url='http://grails.org/plugins' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
    <repository name='http://snapshots.repository.codehaus.org' url='http://snapshots.repository.codehaus.org/' />
    <repository name='http://repository.codehaus.org' url='http://repository.codehaus.org/' />
    <repository name='http://download.java.net/maven/2/' url='http://download.java.net/maven/2/' />
    <repository name='http://repository.jboss.com/maven2/' url='http://repository.jboss.com/maven2/' />
    <repository name='http://repo.opengeo.org' url='http://repo.opengeo.org/' />
    <repository name='http://download.osgeo.org/webdav/geotools' url='http://download.osgeo.org/webdav/geotools/' />
    <repository name='http://www.hibernatespatial.org/repository' url='http://www.hibernatespatial.org/repository/' />
  </repositories>
  <dependencies>
    <runtime>
      <dependency group='com.vividsolutions' name='jts' version='1.11' />
    </runtime>
  </dependencies>
  <plugins>
    <runtime>
      <plugin group='org.grails.plugins' name='resources' version='1.1.6' />
    </runtime>
  </plugins>
  <runtimePluginRequirements />
  <behavior />
</plugin>